<mat-card class="example-card">
  <!-- <ng-container *ngIf="competition.SignUpEndDate > todayDate; else elseTemplate"> -->
  <p>
    Zaloguj się na swoje konto Time2Win.
  </p>
  <form #logInForm="ngForm">
    <mat-card-content>
      <div class="form-container">

        <mat-form-field>
          <input matInput type="email" placeholder="Adres e-mail" name="email" [(ngModel)]="loginData.username" [email]="loginData.username!='' && loginData.username!=null"
            #email="ngModel">
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" placeholder="Hasło" name="password" required [(ngModel)]="loginData.password" #password="ngModel">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Hasło jest wymagane
              </div>
            </div>
          </mat-form-field>

      </div>
    </mat-card-content>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginData.invalid" (click)="loginButtonClick()">
      Zaloguj się
    </button>

  </form>
</mat-card>