.center {
  width: 70%;
  min-width: 300px;
  /* margin: auto; */
  margin: auto;
}

.mat-card {
  /* height: 100%; */
  padding: 5%;
}

.mat-card-title {
  font-size: 200%;
}

.card-content {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5%;
  /* background-color: red; */
}

.mat-card-actions button {
  margin-left: 40px;
}

.alert {
  color: red;
}

.form-field-container {
  display: flex;
  flex-direction: column;
}


.mat-spinner {
  margin: auto;
  size: 1000%;
}
