.rows{
    /* float: left; */
    display: inline;
}


/* .details {
    float: none; */
    /* float:left; */
    /* width: 100%; */
    /* flex-flow: wrap;
} */
.details-element{
    margin: 1em;
    /* height: 100%; */
    float:left;
    /* flex-flow: wrap; */
}