 .example-container {
   display: flex;
   flex-direction: column;
   min-width: 300px;
   margin: 10px;
 }

 .mat-table {
   overflow: auto;
 }

 button {
   margin: 2%;
 }

 a {
   text-decoration: none;
   font-weight: 600;
 }

 table {
   width: 100%;
 }

 th.mat-sort-header-sorted {
   color: black;
 }

 .mobile-label {
   display: none;
 }

 @media(max-width: 600px) {
   .mobile-label {
     width: 80px;
     display: inline-block;
     font-weight: bold;
   }
   .mat-header-row {
     display: none;
   }
   .mat-row {
     flex-direction: column;
     align-items: start;
     padding: 8px 24px;
   }
 }

 #search-box {
   margin: auto;
   width: 50%;
   padding: 10px;
 }
