<ng-container>
  <mat-form-field  id="search-box">
    <input matInput placeholder="Filtr" name="filter" #searchBox (keyup)="search(searchBox.value)">
  </mat-form-field>
</ng-container>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="onSortEvent($event)">
    <!-- [class.isMobile]="isMobile" -->
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Imię:</span>
        {{player.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Nazwisko:</span>
        {{player.LastName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Miasto </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Miasto:</span>
        {{player.City}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef> Płeć </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Płeć:</span>
        <ng-container *ngIf="player.IsMale; else elseTemplate">
          Mężczyzna
        </ng-container>
        <ng-template #elseTemplate>
          Kobieta
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Klub </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Klub:</span>
        {{player.Team}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Kategoria:</span>
        {{player.FullCategory}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isPaidUp">
      <mat-header-cell *matHeaderCellDef> Opłacony </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Opłacony:</span>
        <ng-container *ngIf="player.IsPaidUp; else elseTemplate">
          Tak
        </ng-container>
        <ng-template #elseTemplate>
          Nie
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of extraColumns" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color':row.IsPaidUp === true ? 'rgb(205, 255, 205)' : 'white' }"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[20, 50, 100]" sticky [showFirstLastButtons]="true" [(length)]="playersCount"
    (page)="onPageEvent($event)">
  </mat-paginator>
  <!-- <button mat-button (click)="onClick()">Set paginator</button> -->
</div>