<mat-card class="example-card">
    <mat-card-content>
      <ng-container *ngIf="competition; else elseTemplate">
        <p>
          Edycja danych zawodnika
          <br/>
        </p>
        <app-competition-details *ngIf="competition" [competition]="competition"></app-competition-details>
      </ng-container>  
      <ng-template #elseTemplate>
        <p>
          Pobieranie zawodów
        </p>
      </ng-template>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/zawody">Wszystkie zawody</button>
      <button mat-raised-button color="primary" routerLink="/lista-zawodnikow/{{competitionId}}">
        Lista zawodników
      </button>
    </mat-card-actions>
  </mat-card>
  <app-edit-player *ngIf="competition" [competition]="competition"></app-edit-player>