<mat-card class="example-card">
    <app-competition-details *ngIf="competition" [competition]="competition"></app-competition-details>
    <!-- <mat-card-actions> -->
    <ng-container>
        <a mat-raised-button color="primary" routerLink="/zawody">Wszystkie zawody</a>
        <a *ngIf="competition && competition.SignUpEndDate > todayDate" mat-raised-button color="primary" routerLink="/zapisy/{{competition.Id}}">
            Zarejestruj się
        </a>
    </ng-container>
    <!-- </mat-card-actions> -->
</mat-card>