<mat-card class="example-card">
    <mat-card-content>
        <p>
            Lista zawodników
            <br/> {{competition.Name}} {{competition.EventDate.toLocaleDateString("pl-pl")}}
        </p>
    </mat-card-content>
    <!-- <mat-card-actions> -->
    <ng-container>
        <a mat-raised-button color="primary" routerLink="/zawody">Wszystkie zawody</a>
        <a *ngIf="competition.SignUpEndDate > todayDate" mat-raised-button color="primary" routerLink="/zapisy/{{competition.Id}}">
            Zarejestruj się
        </a>
    </ng-container>
    <!-- </mat-card-actions> -->
</mat-card>