.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 10px;
  }
  
  .mat-table {
    overflow: auto;
  }

  /* .mat-table-row {
    background-color: aquamarine;
  } */

  .paid {
    background-color: rgb(205, 255, 205);
  }
  /* .mat-row:nth-child(odd) {
    background-color: rgb(205, 255, 205);
  } */

  button{
    margin: 2%;
  }
  
  a{
    text-decoration: none;
    font-weight: 600;
}
