<mat-card>
  <mat-card-actions>
    <button mat-raised-button color="primary" class="arrangeRight" (click)="paidButtonClick()">Oznacz wybrane jako opłacone</button>
    <button mat-raised-button color="primary" class="arrangeRight" (click)="notPaidButtonClick()">Oznacz wybrane jako nieopłacone</button>
  </mat-card-actions>
</mat-card>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="onSortEvent($event)">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!--If I wanna make it CDK table I can just change mat to cdk in the lines below-->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Imię </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Imię:</span>
        {{player.FirstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Nazwisko:</span>
        {{player.LastName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef> Miasto </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Miasto:</span>
        {{player.City}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef> Płeć </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Płeć:</span>
        <ng-container *ngIf="player.IsMale; else elseTemplate">
          Mężczyzna
        </ng-container>
        <ng-template #elseTemplate>
          Kobieta
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="team">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Klub </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Klub:</span>
        {{player.Team}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullCategory">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Kategoria </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Kategoria:</span>
        {{player.FullCategory}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isPaidUp">
      <mat-header-cell *matHeaderCellDef> Opłacony </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <span class="mobile-label">Opłacony:</span>
        <ng-container *ngIf="player.IsPaidUp; else elseTemplate">
          Tak
        </ng-container>
        <ng-template #elseTemplate>
          Nie
        </ng-template>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let player">
        <a mat-raised-button color="primary" routerLink="/zawodnik/{{player.Id}}">
          Edytuj
        </a>
      </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of extraColumns" [cdkColumnDef]="column.columnDef">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>{{ column.header }}</mat-header-cell>
      <mat-cell *cdkCellDef="let row">{{ column.cell(row) }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color':row.IsPaidUp === true ? 'rgb(205, 255, 205)' : 'white' }"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true" [(length)]="playersCount"
    (page)="onPageEvent($event)">
  </mat-paginator>
</div>