.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin: 10px;
  }
  
  .mat-table {
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  button{
    margin: 2%;
  }

  .mat-column-select {
    overflow: visible;
    max-width:  3em;
  }

  .mat-column-actions {
      max-width: 7em;
  }
  
  a{
    text-decoration: none;
    font-weight: 600;
}

.arrangeRight { 
  width: 17em;
}
