.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 10px;
}

.mat-spinner {
  margin: auto;
  size: 1000%;
}

/* .mat-table {
    overflow: auto;
  } */

/* button {
  white-space: normal;
  padding: 1em;
} */

a {
  text-decoration: none;
  margin: 0.3em;
  white-space: pre;
  width: 11em;
  /* margin: 
    font-weight: 600; */
}