.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 10px;
}

.mat-spinner {
  margin: auto;
  size: 1000%;
}

/* .mat-table {
    overflow: auto;
  } */

/* button {
  white-space: normal;
  padding: 1em;
} */

a {
  text-decoration: none;
  margin: 0.3em;
  white-space: pre;
  width: 11em;
  /* margin: 
    font-weight: 600; */
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }
  .mat-header-row {
    display: none;
  }
  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}