<mat-spinner *ngIf="dataLoaded === false"></mat-spinner>
<ng-container *ngIf="canOrganizerEdit; else elseTemplate">



  <mat-card *ngIf="editedPlayer" class="example-card">
    <!-- <ng-container *ngIf="competition.SignUpEndDate > todayDate; else elseTemplate"> -->
    <form #editPlayerForm="ngForm">
      <mat-card-content>
        <div class="form-container">
          <mat-form-field>
            <input matInput placeholder="Imię" name="firstName" required minlength="4" [(ngModel)]="editedPlayer.FirstName" #firstName="ngModel">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
              <div *ngIf="!!firstName.errors.required">
                Imię jest wymagane
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Nazwisko" name="lastName" required [(ngModel)]="editedPlayer.LastName" #lastName="ngModel">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
              <div *ngIf="!!lastName.errors.required">
                Nazwisko jest wymagane
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Płeć" name="isMale" required [(ngModel)]="editedPlayer.IsMale" #isMale="ngModel">
              <mat-option value="false">Kobieta</mat-option>
              <mat-option value="true">Mężczyzna</mat-option>
            </mat-select>
            <div *ngIf="isMale.invalid && (isMale.dirty || isMale.touched)" class="alert alert-danger">
              <div *ngIf="!!isMale.errors.required">
                Płeć jest wymagana
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" [max]="todayDate" placeholder="Data urodzenia" name="birthDate" required [(ngModel)]="editedPlayer.BirthDate"
              #birthDate="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="alert alert-danger">
              <div *ngIf="!!birthDate.errors.required">
                Data urodzenia jest wymagana
              </div>
            </div>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Miejscowość zamieszkania" name="city" required [(ngModel)]="editedPlayer.City" #city="ngModel">
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
              <div *ngIf="!!city.errors.required">
                Miejscowość zamieszkania jest wymagana
              </div>
            </div>
          </mat-form-field>


          <mat-form-field>
              <mat-select placeholder="Dystans" name="distance" required [(ngModel)]="editedPlayer.DistanceId" #distance="ngModel">
                <mat-option *ngFor="let dist of distances" [(value)]="dist.Id">
                  {{dist.Name}}
                </mat-option>
              </mat-select>
              <div *ngIf="distance.invalid && (distance.dirty || distance.touched)" class="alert alert-danger">
                <div *ngIf="!!distance.errors.required">
                  Dystans jest wymagany
                </div>
              </div>
            </mat-form-field>

            <mat-form-field *ngIf="subcategories.length>1">
              <mat-select placeholder="Podkategoria" name="subcategory" required [(ngModel)]="editedPlayer.SubcategoryId" #subcategory="ngModel">
                <mat-option *ngFor="let info of subcategories" [(value)]="info.Id">
                  {{info.Name}}
                </mat-option>
              </mat-select>
              <div *ngIf="subcategory.invalid && (subcategory.dirty || subcategory.touched)" class="alert alert-danger">
                <div *ngIf="!!subcategory.errors.required">
                  Podkategoria jest wymagana
                </div>
              </div>
            </mat-form-field>

              <ng-container *ngFor="let column of competition.ExtraColumns">
                  <ng-container *ngIf="editedPlayer && editedPlayer.ExtraColumnValues && getColumnValue(column.Id)">
                    <mat-form-field *ngIf="column.IsRequired;else notRequired">
                      <input matInput type="text" placeholder="{{ column.Title}}" name="{{column.Id}}" required
                      [(ngModel)]="getColumnValue(column.Id).CustomValue"
                      >
                      <!-- #{{column.Id}}="ngModel" -->
                      <div *ngIf="!!column.Id.invalid && (!!column.Id.dirty || !!column.Id.touched)" class="alert alert-danger">
                        <div *ngIf="!!column.Id.errors.required">
                          Pole jest wymagane
                        </div>
                      </div>
                    </mat-form-field>
                    <ng-template #notRequired>
                      <mat-form-field>
                        <input matInput type="text" placeholder="{{ column.Title}}" name="{{column.Id}}"
                        [(ngModel)]="getColumnValue(column.Id).CustomValue"
                        >
                        <!-- #{{column.Id}}="ngModel" -->
                      </mat-form-field>
                    </ng-template>
                  </ng-container>
                </ng-container>



          <ng-container *ngFor="let field of extraFields">
            <mat-form-field>
              <input matInput type="text" placeholder="{{ field.placeholder}}" name="{{field.fieldName}}" required [(ngModel)]="editedPlayerExtraData[field.fieldIndex]"
                #{{field.fieldName}}="ngModel">
              <div *ngIf="!!field.fieldName.invalid && (!!field.fieldName.dirty || !!field.fieldName.touched)" class="alert alert-danger">
                <div *ngIf="!!field.fieldName.errors.required">
                  Pole jest wymagane
                </div>
              </div>
            </mat-form-field>
          </ng-container>


          <mat-form-field>
            <textarea matInput placeholder="Klub" name="team" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" [(ngModel)]="editedPlayer.Team"
              #team="ngModel"></textarea>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="email" placeholder="Adres e-mail" name="email" [(ngModel)]="editedPlayer.Email" [email]="editedPlayer.Email!='' && editedPlayer.Email!=null"
              #email="ngModel">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="tel" placeholder="Numer telefonu" name="phoneNumber" [(ngModel)]="editedPlayer.PhoneNumber" #phoneNumber="ngModel">
          </mat-form-field>

        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="editPlayerForm.invalid" (click)="ButtonClick()">
          Edytuj uczestnika
        </button>
        <!-- <div class="g-recaptcha" data-sitekey="6LfUoFAUAAAAAN7APs4zQzVcRtsnc7EoO1NQETG2" data-callback="editedPlayerFormComponentReCaptcha"
        id="editedPlayerFormComponentButton" data-size="invisible">
      </div> -->
      </mat-card-actions>
    </form>
    <!-- </ng-container>
  <ng-template #elseTemplate>
    <mat-card>
      <p>Zapisy na te zawody już się zakończyły</p>
    </mat-card>
  </ng-template> -->
  </mat-card>
</ng-container>
<ng-template #elseTemplate>
  <mat-card>
    <mat-card-content>
      Nie posiadasz uprawnień do edycji zawodnika
    </mat-card-content>
  </mat-card>
</ng-template>
