<mat-spinner *ngIf="dataLoaded === false"></mat-spinner>
<mat-card class="center">
  <mat-card-header>
    <mat-card-title>Przywróć hasło</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content">
      <p>
        Wyślemy Ci link umożliwiający przywrócenie hasła
      </p>
      <p>
        Wpisz adres email użyty do rejestracji w Time2Win. Skontaktujemy się z
        Tobą wkrótce.
      </p>
      <form #resetPasswordForm="ngForm">
        <div class="form-field-container">
          <mat-form-field>
            <input
              matInput
              type="email"
              placeholder="Adres e-mail"
              name="email"
              required
              [(ngModel)]="emailAddress"
              [email]="emailAddress != '' && emailAddress != null"
              #email="ngModel"
            />
            <mat-error
              *ngIf="!!email.invalid && (!!email.dirty || !!email.touched)"
            >
              <!-- <div *ngIf="!!emailAddress.errors.required"> -->
              Wpisz adres email
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!!resetPasswordForm.invalid"
      (click)="ButtonClick()"
    >
      Przywróć hasło
    </button>
  </mat-card-actions>
</mat-card>
