<mat-card class="center">
  <mat-card-header>
    <mat-card-title>Przywróć hasło</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Wyślemy Ci link umożliwiający przywrócenie hasła
    </p>
    <p>
      Wpisz adres email użyty do rejestracji w Time2Win. Skontaktujemy się z
      Tobą wkrótce.
    </p>
    <form #resetPasswordForm="ngForm">
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Adres e-mail"
          name="email"
          required
          [(ngModel)]="emailAddress"
          [email]="emailAddress != '' && emailAddress != null"
          #email="ngModel"
        />
        <div
          *ngIf="
            !!emailAddress.invalid &&
            (!!emailAddress.dirty || !!emailAddress.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="!!emailAddress.errors.required">
            Wpisz adres email
          </div>
        </div>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!!resetPasswordForm.invalid"
      routerLink="/zawody"
    >
      Przywróć hasło
    </button>
  </mat-card-actions>
</mat-card>
