<mat-card class="example-card">
  <mat-card-content>
    <p>
      Oferujemy pomiary na różnych zawodach sportowych, np. wyścigach rowerowych oraz biegach.
      Wkrótce podamy więcej informacji, a jeśli już teraz chcesz dowiedzieć się o szczegółach,
      przejdź do zakładki 'Kontakt' i skontaktuj się z nami. Chętnie odpowiemy na Twoje pytania.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/zawody">Przejdź do zawodów</button>
  </mat-card-actions>
</mat-card>