set xact_abort on
begin transaction

CREATE TABLE [dbo].[ExtraColumnValues] (
    [Id] [int] NOT NULL IDENTITY,
    [PlayerId] [int] NOT NULL,
    [ColumnId] [int] NOT NULL,
    [CustomValue] [nvarchar](max),
    [LookupId] [int],
    CONSTRAINT [PK_dbo.ExtraColumnValues] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_PlayerId] ON [dbo].[ExtraColumnValues]([PlayerId])
CREATE INDEX [IX_ColumnId] ON [dbo].[ExtraColumnValues]([ColumnId])
CREATE INDEX [IX_LookupId] ON [dbo].[ExtraColumnValues]([LookupId])
CREATE TABLE [dbo].[ExtraColumns] (
    [Id] [int] NOT NULL IDENTITY,
    [CompetitionId] [int] NOT NULL,
    [Title] [nvarchar](255) NOT NULL,
    [IsRequired] [bit] NOT NULL,
    [IsDisplayedInPublicList] [bit] NOT NULL,
    [IsDisplayedInPublicDetails] [bit] NOT NULL,
    [Type] [nvarchar](max),
    [SortIndex] [int],
    [MultiValueCount] [int],
    [MinCharactersValidation] [int],
    [MaxCharactersValidation] [int],
    CONSTRAINT [PK_dbo.ExtraColumns] PRIMARY KEY ([Id])
)
CREATE INDEX [IX_CompetitionId] ON [dbo].[ExtraColumns]([CompetitionId])

commit transaction