.form-container {
    display: flex;
    flex-direction: column;
    max-width: 25em;
  }

  .form-container > * {
    max-width: 25em;
  }

.alert{
  color: red;
}

.left-to-right{
  float: left;
  width: 25em;
}

.mat-form-field{
  width: 20em;
}
